@model IEnumerable<RavenTest.Models.User>

@{
  ViewBag.Title = "Users List";
}

@section featured {
  <section class="featured">
    <div class="content-wrapper">
      <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>These are the men!</h2>
      </hgroup>
    </div>
  </section>
}

<p>
  @Html.ActionLink("Create New", "Create")
</p>

<table>
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Username)
      </th>
      <th>
      @Html.DisplayNameFor(model => model.LastModified)
      </th>
      <th>Options</th>
    </tr>
  </thead>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        <a href="mailto:@item.Email">@item.Username</a>
      </td>
      <td>
        @if (!item.LastModified.HasValue)
        {
          <i>Not registered ...</i>
        }
        else
        {
          @item.LastModified.Value
        }
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
      </td>
    </tr>
  }
</table>
