<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width" />

</head>
<body>
  <div>
    <h1>Raven Tests</h1>
    
    <menu>
      <ul>
        <li>@Html.ActionLink("Users", "Index", "User")</li>
        <li>@Html.ActionLink("Sections", "Index", "Section")</li>
      </ul>
    </menu>

    <section>
      @RenderBody()  
    </section>
  </div>
  

  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.9.0/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.9.0/themes/smoothness/jquery-ui.css"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.9.0/i18n/jquery-ui-i18n.min.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/additional-methods.min.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_it.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>

  @RenderSection("scripts", false)
</body>
</html>